<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="HashChecker" Language="1033" Version="1.2.0.0" 
           Manufacturer="Andriy Fetsyuk" UpgradeCode="{CFD9E7DB-FB09-471A-989C-584375C89682}">
		<Package Id="*" Keywords="Installer" Description="HashChecker 1.2 Installer" InstallerVersion="200" Compressed="yes" 
             InstallScope="perMachine" Languages="1033" SummaryCodepage="1252" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="HashCheckerSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

  <Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="AndriyFetsyuk" Name="Andriy Fetsyuk" >
          <Directory Id="INSTALLFOLDER" Name="HashChecker" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent">
        <File Source="$(var.HashChecker.WinForms.TargetDir)HashChecker.exe" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>