<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="HashChecker" Language="1033" Version="1.2.0.0" Manufacturer="Andriy Fetsyuk" UpgradeCode="{CFD9E7DB-FB09-471A-989C-584375C89682}">
    <Package Id="*" Keywords="Installer" Description="HashChecker 1.2 Installer" InstallerVersion="200" Compressed="yes"
           InstallScope="perMachine" Languages="1033" SummaryCodepage="1252" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id='DiskPrompt' Value="HashChecker Installation [1]" />
    <Icon Id="HashChecker.ico" SourceFile="..\HashCheckerProj\Key.ico" />
    
    <Feature Id="CompleteFeature" Title="HashCheckerSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="Manual" />
      <ComponentRef Id="ProgramMenuDir" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="AndriyFetsyuk" Name="Andriy Fetsyuk" >
          <Directory Id="INSTALLFOLDER" Name="HashChecker" />
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="HashChecker">
          <Component Id="ProgramMenuDir" Guid="{CFB925D4-B05B-40EF-B410-80807A580DDA}">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="HashChecker.Core">
        <File Source="$(var.HashChecker.Core.TargetDir)HashChecker.Core.dll" KeyPath="yes" />
      </Component>
      <Component Id="HashChecker.WinForms">
        <File Source="$(var.HashChecker.WinForms.TargetDir)HashChecker.exe" KeyPath="yes" >
          <Shortcut Id="startmenuHashChecker" Directory="ProgramMenuDir" Name="HashChecker" WorkingDirectory="INSTALLDIR" Advertise="yes" 
                    Icon="HashChecker.ico" IconIndex="0" />
          <Shortcut Id="desktopHashChecker" Directory="DesktopFolder" Name="HashChecker" WorkingDirectory="INSTALLDIR" Advertise="yes" 
                    Icon="HashChecker.ico" IconIndex="0" />
        </File>
      </Component>
      <Component Id="HashChecker.WinForms.config">
        <File Source="$(var.HashChecker.WinForms.TargetDir)HashChecker.exe.config" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <Component Id='Manual' Directory="INSTALLFOLDER">
      <File Id='Manual' Name='Manual.pdf' DiskId='1' Source='..\Documentation\Manual.pdf' KeyPath='yes'>
        <Shortcut Id='startmenuManual' Directory='ProgramMenuDir' Name='Instruction Manual' Advertise='yes' />
      </File>
    </Component>
  </Product>
</Wix>